@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1b4b;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    @apply border-slate-200;
  }
}

/* Hiệu ứng gõ văn bản cho chatbot */
.typing-dot {
  @apply w-1 h-1 bg-slate-400 rounded-full animate-bounce;
}

.typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}
